.sidebar {
    height: calc(100vh - 80px);
}

.body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.login {
    background-color: orange;
    padding: 5px 8px;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    width: 80px;
}

.header img {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
}

.sidebar li {
    cursor: pointer;
}

.main_div, .main_div2 {
    margin-left: 200px !important;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    height: 80%;
    overflow-y: scroll;
}

.main_div2 {
    overflow: hidden !important;
}

.unavailable {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: red;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    color: black;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .nav {
        display: none;
    }

    .acc_section {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar span {
        display: none;
    }

    .sidebar {
        width: 50px;
    }

    .main_div {
        margin-left: 60px !important;
        max-width: 300px;
    }
}